<mat-card class="example-card">
  <ul *ngIf="currentOrder">
      <li *ngFor="let currentProd of currentOrder.products">
          {{ currentProd.name }}
      </li>
  </ul>

  <mat-card-actions align="center">
      <button mat-button (click)="createOrder()" >New order</button>
      <button mat-button (click)="fulfillOrder()" >Confirm order</button>
  </mat-card-actions>
</mat-card>

<div layout-margin>
  <mat-card class="example-card" *ngFor="let prod of products" style="margin-top:10px">
      <mat-card-header>
          <mat-card-title>{{ prod.name }} </mat-card-title>
          <mat-card-title>{{ prod.priceInCents/100 | number:0 | currency:'EUR':true:'1.2-2'}} </mat-card-title>
          <mat-card-title>Available: {{ prod.available }}</mat-card-title>
      </mat-card-header>

      <mat-card-actions align="end">
          <button mat-button (click)="updateOrder(prod)" style="flex: 1 1 auto" [disabled]="!currentOrder || prod.available < 1">Add</button>
      </mat-card-actions>
  </mat-card>
</div>