<mat-card class="example-card">
    <ul *ngIf="currentOrder">
        <li *ngFor="let currentProd of currentOrder.products">
            {{ currentProd.name }} <span *ngIf="currentProd.queueCount > 0">({{ currentProd.queueCount }} more in queue)</span>
        </li>
    </ul>

    <div class="form-group">
        <label for="categories">Categories:</label>
        <div *ngFor="let cat of categories">
            <label>
            <input type="checkbox"
                   name="categories"
                   value="{{cat.category | categoryFormat}}"
                   [(ngModel)]="cat.checked"/>
                   {{cat.category | categoryFormat}}
        </label>
        </div>
    </div>

    <mat-card-actions align="center">
        <button mat-button (click)="requestOrder()" [disabled]="currentOrder">Request new order</button>
        <button mat-button (click)="finishOrder()" [disabled]="!currentOrder">Complete order</button>
    </mat-card-actions>
</mat-card>