<mat-card class="example-card">
  <ul *ngIf="currentOrder">
      <li *ngFor="let currentProd of currentOrder.products">
          {{ currentProd.name }}
      </li>
  </ul>

  <mat-card-actions align="center">
      <button mat-button (click)="requestOrder()" [disabled]="currentOrder">Request delivery</button>
      <button mat-button (click)="finishOrder()" [disabled]="!currentOrder">Order delivered</button>
  </mat-card-actions>
</mat-card>