<mat-tab-group>
    <mat-tab label="Ordering">
        <app-ordering></app-ordering>
    </mat-tab>
    <mat-tab label="Making">
        <app-making></app-making>
    </mat-tab>
    <mat-tab label="Delivering">
        <app-delivering></app-delivering>
    </mat-tab>
    <mat-tab label="Payment">
        <app-payment></app-payment>
    </mat-tab>
</mat-tab-group>