<mat-card class="example-card">
  <mat-card-actions align="center">
    <button mat-button (click)="update()">Refresh</button>
  </mat-card-actions>
</mat-card>

<div layout-margin>
  <mat-card class="example-card" *ngFor="let order of orders" style="margin-top:10px">
    <mat-card-header>
      <ul>
        <li *ngFor="let prod of order.products">
          {{ prod.name }} {{ prod.priceInCents/100 | number:0 | currency:'EUR':true:'1.2-2'}}
        </li>
      </ul>
    </mat-card-header>

    <mat-card-actions align="end">
      <button mat-button (click)="pay(order)" style="flex: 1 1 auto">Pay ({{ order | orderprice | currency:'EUR':true:'1.2-2' }})</button>
    </mat-card-actions>
  </mat-card>
</div>